body{
    display: flex;
    justify-content: center;
    font-family: monospace;
    align-items: center;
    background-image: url('bg.png');
    background-repeat: repeat;
    background-size: auto;
}
.password-generator{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
h1{
    color: darkolivegreen;
    font-size: 2.5rem;
    font-weight: bold;
}

.form-group{
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    margin-top: 8px;
    flex-direction: row;
    align-items: center;
}


button {

    padding: 10px;
    background-color: darkolivegreen;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 10px;
}

button:hover{
    background-color: yellowgreen;
}
